.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts

# Extra files to ignore
app/node_modules/**
app/src/**
app/public/*.map
app/public/favicon.png
app/*.json
app/**.md
app/rollup.config.js
assets/snippet.gif
tsconfig.json
webpack.config.js
