html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 24px;
  box-sizing: border-box;
  max-width: 900px;
  margin: 0 auto;
}

button {
  border: none;
  padding: 6px;
  min-width: 100px;
  font-weight: bold;
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);
  border: 1px solid var(--vscode-button-background);
  border-radius: 2px;
}

button:hover {
  background-color: var(--vscode-button-hoverBackground);
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

button.btn-btm {
  margin-top: 30px;
}

button.outline {
  background-color: transparent;
  border: 1px solid var(--vscode-button-background);
  color: var(--vscode-button-background);
}

button.outline:hover {
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
}

.link:hover {
  color: var(--vscode-textLink-activeForeground);
  cursor: pointer;
}

a {
  text-decoration: none;
}

pre,
blockquote {
  background-color: var(--vscode-textBlockQuote-background);
  border: 1px solid var(--vscode-textCodeBlock-background);
  padding: 10px;
}

blockquote pre {
  border: 0;
}

pre,
pre code {
  white-space: pre-wrap;
}

blockquote {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

p {
  font-size: 15px;
}

p img {
  display: block;
}

.row {
  display: flex;
}